psycopg2-binary
boto3
pytz
python-dateutil
autologging
pyvirtualdisplay
simplejson
eight
lxml
defusedxml
pyOpenSSL
cryptography
requests
flask
pika
retrying
giturlparse
gitpython
psutil
paramiko
arrow